In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.1.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vishakhachaudhary/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 967.8 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/vishakhachaudhary/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp312-cp312-macosx_11_0_arm64.whl (10.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 9.9 MB/s eta 0:00:00:00:01:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 10.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2 as ps
import pandas as pd

In [2]:
def create_database():
    #connect to default database
    conn=ps.connect(dbname="postgres",

               user="postgres",password= "",host="localhost",

                port="5432")
    conn.set_session(autocommit=True)
    cur=conn.cursor()

    #create sparkify database with UTF8 encoding
    cur.execute("CREATE DATABASE accounts")

    #close connection to default database
    conn.close()

    #connect to sparkify database
    conn=ps.connect(dbname="accounts",

               user="postgres",password= "",host="localhost",

                port="5432")
    cur=conn.cursor()

    return cur,conn

In [1]:
def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [2]:
def create_tables(cur,conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [6]:
finance=pd.read_csv('data/annual-enterprise-survey-2021-financial-year-provisional-csv.csv')

In [7]:
finance.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [8]:
finance_clean=finance[['Units','Variable_code','Variable_name','Variable_category','Value']]

In [9]:
finance_clean.head()

,Units,Variable_code,Variable_name,Variable_category,Value
0,Dollars (millions),H01,Total income,Financial performance,"757,504"
1,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890"
2,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593"
3,Dollars (millions),H07,Non-operating income,Financial performance,"33,020"
4,Dollars (millions),H08,Total expenditure,Financial performance,"654,404"

In [10]:
finance.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [15]:
finance=finance.drop(['Year'],axis=1)

In [16]:
finance.columns

Index(['Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [18]:
acc2022=pd.read_csv('/Users/vishakhachaudhary/Downloads/electronic-card-transactions-october-2023-csv-tables.csv')

In [19]:
acc2022.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [22]:
acc2022_clean=acc2022[['Series_reference','Period', 'Data_value','Suppressed']]

In [23]:
acc2022_clean.head()

  Series_reference   Period  Data_value Suppressed
0       ECTA.S19A1  2001.03      2462.5        NaN
1       ECTA.S19A1  2002.03     17177.2        NaN
2       ECTA.S19A1  2003.03     22530.5        NaN
3       ECTA.S19A1  2004.03     28005.1        NaN
4       ECTA.S19A1  2005.03     30629.6        NaN

In [27]:
acc2023=pd.read_csv('/Users/vishakhachaudhary/Downloads/business-operations-survey-2022-business-finance.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 100: invalid start byte